<span>@Value</span>

@code {

    [Parameter]
    [EditorRequired]
    public required DateTime Input { get; set; }

    [Parameter]
    public bool TimeOnly { get; set; }


    private string Value { get; set; } = null!;

    protected override void OnParametersSet()
    {
        Value = Input.ToString(TimeOnly ? "HH:mm" : "dd.MM.yyyy HH:mm");
    }

}